*{margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

header{
    display: flex;
    justify-content: center; 
     
}
.cabecalho{
    display: flex;
    height: 85px;
    width: 1200px;
    background-color: rgb(54, 54, 54);
    justify-content: space-around;
    margin-top: 0px;
    align-items: center;
    border-bottom: 4px solid rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
h1{
    color: rgb(234, 234, 234);
    font-size: 40px;
}
.botao input{
    display: flex;
    background-color: rgb(31, 31, 31);
    width: 220px;
    padding: 13px;
    font-size: 16px;
    font-weight: bolder;
    height: 40px;
    color:rgb(234, 234, 234);
    border-radius: 10px;
    border-bottom: 2px solid rgb(0, 113, 189);
    border-right: 2px solid rgb(0, 113, 189);
    transition: 0.1s linear;
}
.botao input:hover{
    background-color: rgba(31, 31, 31, 0.774);
    color:rgb(234, 234, 234);
    border-bottom: 1px solid rgb(0, 113, 189);
    border-right: 1px solid rgb(0, 113, 189);
}
form{
    display: flex;
    justify-content: center;
}
.area-principal{
    display: flex;
    width: 1204px;
    justify-content: center;
}
.areas{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    background-color: rgb(31, 31, 31);
    color: rgb(234, 234, 234);
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;  
}

.areas-titulo{
    display: flex;
    align-items: center;
    background-color: rgb(42, 40, 40);
    height: 40px;
    width: auto;
    color:rgb(234, 234, 234);
    font-size: 26px;
    margin: 10px; 
}
.status{
    color:rgb(234, 234, 234);
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 70%;
    height: auto;
    background-color: rgba(57, 65, 76);
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.status input{
    width: 90%;
    margin-top: 5px;  
}
.areas .data{
    width: auto;
}
label{
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 7px;
    font-size: 17px;
    
}
input{
    width: 90%;
    height: 22px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
}
.checkbox{
    display: flex;
    margin-left: 15px;  
}
.input-checkbox{
   width: 22px;
   margin-bottom: 60px;
   margin-top: 10px;
   
}
.label-checkbox{
    font-size: 12px; 
    margin-top: 10px;
    margin-left: 3px;

}
.textarea{
    margin-top:10px
}
.textarea-campo{
    width: 90%;
    height: 90px;
    margin-left: 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 4px;;
}